<!DOCTYPE html>
<html>
<head>
  <title>ExceptionNotificationServer</title>
  <%= stylesheet_link_tag    "exception_notification_server/application", media: "all" %>
  <%= javascript_include_tag "exception_notification_server/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
